/* NotesList.css */
.notes-list {
    list-style-type: none;
    padding: 0;
  }
  
  .notes-list li {
    background-color: #f9f9f9;
    padding: 12px;  /* Notas más pequeñas */
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;  /* Fuente más pequeña */
  }
  